.book-chapter {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: none;
    font-size: 2em;
    font-weight: bold;
    line-height: 1.2;
    padding-bottom: 0.3em;
    position: relative;
    border-bottom: #eee solid 1px;
    margin: 1em 0 16px
    }
.calibre {
    display: block;
    font-size: 1em;
    padding-left: 0;
    padding-right: 0;
    margin: 0 5pt
    }
.calibre1 {
    display: none
    }
.calibre2 {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    font-size: 2em;
    font-weight: bold;
    line-height: 1.2;
    padding-bottom: 0.3em;
    position: relative;
    border-bottom: #eee solid 1px;
    margin: 1em 0 16px
    }
.calibre3 {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    list-style-type: decimal;
    margin-bottom: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-right: 0;
    padding-top: 0
    }
.calibre4 {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: list-item
    }
.calibre5 {
    -moz-box-sizing: border-box;
    background: transparent;
    box-sizing: border-box;
    color: #4183c4;
    text-decoration: none
    }
.calibre6 {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    font-size: 1.83333em;
    font-weight: bold;
    line-height: 1.2;
    padding-bottom: 0.3em;
    position: relative;
    border-bottom: #eee solid 1px;
    margin: 1em 0 16px
    }
.calibre7 {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    margin: 0 0 16px
    }
.calibre8 {
    -moz-box-sizing: border-box;
    background-color: #f7f7f7;
    border-radius: 3px;
    box-sizing: border-box;
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 0.75em;
    padding: 0.2em 0;
    margin: 0
    }
.calibre9 {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-style: italic
    }
.normal {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block
    }
.page {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    color: #333;
    display: block;
    font-family: sans-serif;
    line-height: 1.6;
    overflow: hidden;
    word-wrap: break-word
    }
.pcalibre3:after {
    content: " ";
    letter-spacing: -0.2em
    }
.pcalibre2:focus {
    text-decoration: underline
    }
.pcalibre4:before {
    content: " ";
    letter-spacing: -0.2em
    }
.pcalibre1:hover {
    outline: 0;
    text-decoration: underline
    }
.pcalibre:active {
    outline: 0;
    text-decoration: underline
    }
@page {
    margin-bottom: 5pt;
    margin-top: 5pt
    }
